<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="favicon.ico")
    title Pigeon - Register
  body
    div.page
      section.login
        h2.login__title Регистрация
        form.login__form
          fieldset.login__fields
            p.login__input-name Почта
            input.login__input(
              type="email"
              name="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
              required
            )
            span.login__error

            p.login__input-name Логин
            input.login__input(
              type="text"
              name="login"
              required
              minLength="2"
            )
            span.login__error

            p.login__input-name Имя
            input.login__input(
              type="text"
              name="name"
              required
            )
            span.login__error

            p.login__input-name Фамилия
            input.login__input(
              type="text"
              name="lastname"
              required
            )
            span.login__error

            p.login__input-name Телефон
            input.login__input(
              type="tel"
              name="phone"
              required
            )
            span.login__error

            p.login__input-name Пароль
            input.login__input(
              type="password"
              name="password"
              required
              minLength="8"
            )
            span.login__error

            p.login__input-name Пароль (еще раз)
            input.login__input(
              type="password"
              name="passwordTw"
              required
              minLength="8"
            )
            span.login__error

          span.login__submit-error
          button.login__submit-button(type="submit") Зарегистрироваться 
        a.login__subtitle Войти